/* Scrollbar.css */

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Border Radius */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3;
  }

/* TODO: Do the same to horizontal scrollbar */

  ::-webkit-scrollbar:horizontal{
    width: 8px;
    height: 8px;
  }